[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "contractions>=0.1.73",
    "datasets>=4.5.0",
    "nltk>=3.9.2",
    "scikit-learn>=1.8.0",
]
